.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-bottom: 70px;
}

.about-container h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-bottom: 20px;
}
.about-content {
  text-align: left;
  margin-bottom: 20px;
}
.about-content p {
  margin-bottom: 15px;
  line-height: 1.6;
}
.downloadcv-btn {
  background-color: rgb(143, 141, 141);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

.downloadcv-btn:hover {
  background-color: #c71212;
}
