 .project-head h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  font-size: 30px;
  font-style: normal;
}
 .project-head p{
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-size: 14px;
  font-style: normal;
}
.project img {
  width: 40%;
  height: auto;
}
.slider {
  width: 100%;
}
.slider img {
  width: 100%;
  height: 300px;
}
.project-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  gap: 30px;
}
.project-slider {
  width: 50%;
}
.project-container .weather-app img {
  width: 150px;
  height: 200px;
  object-fit: cover;
}
.weather-app {
  width: 160px;
  min-height: 200px;
  border-radius: 10px;
  background-color: rgb(72, 72, 72);
  padding: 10px;
}
.ecommerce-app img{
  width: 150px;
  height: 200px;
  object-fit: cover;
}
.ecommerce-app {
  width: 149px;
  min-height: 200px;
  border-radius: 10px;
  background-color: rgb(72, 72, 72);
  padding: 10px;
}
.weather-description {  
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  font-size: 10px;
  font-style: normal;
  text-align: justify;
}
.language-description {
  font-size: 8px;
  margin-top: -10px;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-left: -34px;
  justify-content: center;
}
.language-description li {
  font-size: 8px;
  list-style-type: none;
  /* background-color: antiquewhite;  */
}
.project-links {
  display: flex;
  justify-content: space-around;
}
.ecommerce-project-links{
  display: flex;
  justify-content: space-around;
}
.language-description .react {
  color: #61dbfb;
}

.language-description .html {
  color: #e34c26;
}

.language-description .javascript {
  color: #f0db4f;
}

.language-description .css {
  color: #264de4;
}

.language-description .api {
  color: #7c3aed;
}

.language-description .ant-design {
  color: #1890ff; 
}
.project-links button {
  width: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  font-size: 10px;
  font-style: normal;
  border-radius: 4px;
  border: none;
}
.ecommerce-project-links button {
  width: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  font-size: 10px;
  font-style: normal;
  border-radius: 4px;
  border: none;
  background-color: #e34c26;
}
.project-links button:hover {
  background-color: green;
  cursor: pointer;
}
@media (max-width: 768px) {
  .project-slider {
    width: 80%;
  }
}
