body {
  margin: 0;
  padding: 0;
}

.home-container {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 95px;
  max-width: 1200px;
}

.text-content {
  max-width: 600px;
}

.text-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.text-content h2 {
  font-size: 3rem;
  margin: 10px 0;
}

.text-content h2 .highlight {
  color: #ed1b1b;
}

.text-content h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.text-content {
  max-width: 600px;
  margin-left: 70px;
  text-align: left;
}
.contact-icon {
  display: flex;
  position: absolute;
  gap: 50px;
  font-size: 30px;
  flex-direction: column;
  text-align: left;
  margin-top: 70px;
  
}
.profile {
  width: 220px;
  position: absolute;
  border-radius: 10%;
  border: 4px solid #ffffff;
  margin: 70px 220px;
}
.contact-icon svg:hover {
  color: red;
  transform: scale(1.1);
  cursor: pointer;
}
.contact-icon a{
  color: white;
}
