body {
    background-color: #121212;
    font-family: Arial, sans-serif;
  }
  
  .education-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
  }
  
  .education-head {
    text-align: center;
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  .education-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    color: #ffffff;
    text-align: left;
  }
  
  .education-card h1 {
    color: rgb(118, 118, 118);
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .education-card p {
    margin: 5px 0;
    font-size: 1em;
    color: #b0b0b0;
  }
  
  .education-card p:first-of-type {
    font-weight: bold;
    color: #ffffff;
  }
  
  .education-card p:last-of-type {
    font-size: 0.9em;
    color: #d4d4d4;
  }
  .education-card {
    transition: transform 0.3s ease;
  }
  
  .education-card:hover {
    transform: scale(1.05);
  }
  
  
  @media (max-width: 768px) {
    .education-container {
      flex-direction: column;
      align-items: center;
    }
  }
  