.App {
  text-align: center;
  /* background-color: #414141; */


  background-image: url(container/home/background4.jpg);
  background-repeat: repeat;
  background-size: 1000px;
  background-attachment: fixed;

}


