.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #393939;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.contact-head {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 2em;
}

form {
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 15px;
}

label {
  font-size: 1em;
  color: white;
}

input[type="text"],
input[type="email"] {
  width: 90%;
  height: 20px;
  padding: 20px 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1em;
}
.name-email-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.contact-container p {
  display: flex;
  flex-direction: column;
  text-align: left;
}

button[type="submit"] {
  width: 87%;
  padding: 10px 20px;
  background-color: rgb(31, 31, 31);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}
.submit-btn{
  display: flex;
  align-items: center;
}
.text-msg {
  width: 85%;
  height: 55px;
  border-radius: 7px;
}
.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.msg-input {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left !important;
}
button[type="submit"]:hover {
  background-color: #c71212;
}
@media (max-width: 768px) {
  .contact-container {
    width: 70%;
    padding: 30px;
  }

  .name-email-input {
    display: flex;
    flex-direction: column;
  }
  input[type="text"],
  input[type="email"] {
    width: 95%;
    height: 10px;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1em;
  }
  .text-msg {
    width: 95%;
    height: 55px;
    border-radius: 7px;
    text-align: left !important;
  }
  button[type="submit"] {
    width: 96%;
    padding: 10px 20px;
   
  }
}
